<h4 style="margin-bottom:0px;">Cluster State:</h4>
<hr style="margin-bottom:5px; margin-top:5px;">
<table>
    <tr>
        <th>Hostname</th>
        <th>Role</th>
        <th>State</th>
        <th>Version</th>
        <th>Timeline</th>
        <th>Delay</th>
    </tr>
    {% for member in cluster_members %}
    <tr>
        <td>{{ member['hostname'] }}
            {% if member['role'] == 'master' %}
            <strong> ** </strong>
            {% endif %}
        </td>
        <td>{{ member['role'] }}</td>
        <td>{{ member['state'] }}</td>
        <td>{{ member['version'] }}</td>
        <td>{{ member['timeline'] }}</td>
        <td>{{ member['delay'] }}</td>
    </tr>
    {% endfor %}
</table>