{% extends "base.html.j2" %}}

{% block title %}
  {{ title }}
{% endblock %}


{% block preheader %}
    {{ cluster_name }} {{role}} node {{ action }} event 
{% endblock %}

{% block content %}

    <h3><code>{{ cluster_name }}</code> event</h3>

    <p>
      Database system identifier: {{ database_id }}
      <br>
      Host: {{ host }}
      <br>
      Role: {{ role.capitalize() }}
      <br>
      Action: {{ action.capitalize() }}
    </p>
    <p>The master LSN is at {{ optime }}</p>

    {% include 'consul_state.html.j2' %}

    <br>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0"
        class="btn btn-primary">
        <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0"
                        cellspacing="0">
                        <tbody>
                            <tr>
                                <td> <a href="{{ dashboard_url }}"
                                        target="_blank">Go to Consul
                                        Dashboard &#8599; </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    {% include 'haproxy_stats.html.j2' %}
    <br>

    {% include 'history.html.j2' %}
    <br>

    <p>Generated at: {{ time }}</p>

{% endblock %}}
